<a href="https://colab.research.google.com/github/charan1591/charan1591/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive/')
df=pd.read_excel('/ODD.xlsx',sheet_name=1)

Mounted at /content/drive/

In [3]:
print(df)

     Booking_ID Customer_ID   Destination             Travel_Dates  \
0      BKG01438    CUST5663     BANGALORE  2024-05-27 - 2025-06-02
1      BKG02701    CUST4963       Vietnam  2024/05/02 / 2025/06/28
2      BKG03648    cust5625         Tokyo  2023-12-02 - 2025-03-09
3      BKG02513    CUST4246         Delhi  2023-11-10 - 2024-09-13
4      bkg02903    CUST3901       Chennai  2023-11-09 - 2024-08-22
...         ...         ...           ...                      ...
5245   BKG03093    CUST4090   BRANDYVILLE  2024-01-23 - 2025-04-15
5246   BKG03773    CUST0249   SAINT LUCIA  2023-12-11 - 2025-01-11
5247   bkg04354    CUST3227         Delhi  2024-06-13 - 2025-04-10
5248        NaN         NaN           NaN                      NaN
5249   BKG00861    CUST1529  Turkmenistan  2024-05-11 - 2024-11-06

     Booking_Date  Number_of_Travelers Travel_Package Payment_Method  \
0      2023-07-26                  3.0        Premium     Debit Card
1      2024-02-05                  3.0       Standard    Credit Card
2      2024-07-17                  2.0            NaN            NaN
3      2024-03-15                  6.0         Luxury    Credit Card
4      2023-04-09                  3.0         Luxury         PayPal
...           ...                  ...            ...            ...
5245   2024-08-17                  3.0            NaN  Bank Transfer
5246   2023-04-07                  1.0            NaN            NaN
5247   2024-04-15                  6.0         Luxury  Bank Transfer
5248          NaT                  NaN            NaN            NaN
5249   2024-07-12                  3.0       Standard         PayPal

      Total_Cost              Travel_Agent  \
0       41695.84                  Bass Inc
1       36619.85                Wood Group
2       44543.87           Bridges-Collins
3       41053.94     Edwards, Hill and Lee
4       36238.26                 Hardy Inc
...          ...                       ...
5245    45823.85  King, Porter and Patrick
5246    28937.40              Lane-Hopkins
5247    63021.04                Curry-Duke
5248         NaN                       NaN
5249    77632.50   Lewis, Jones and Morgan

                                      Customer_Feedback
0     Power matter brother guy. Out adult perhaps ge...
1     Position call within size than couple. Effect ...
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
5245                       Understand man remain tough.
5246  Scientist bank wife. Measure prevent fear imag...
5247  Space area above score economy happy spring in...
5248                                                NaN
5249                                                NaN

[5250 rows x 11 columns]